<div class="orange lighten-5 center" style="padding:5rem 10rem">
    <h1>Bootstrap Themer</h1>
    <p>download free bootstrap 10,000+ themes</p>
</div>

<div class="container">
    <div class="row">
        {{>themes}}
    </div>
</div>